In [1]:
import requests
import json
import sqlite3

In [2]:
url = "https://gorest.co.in/public-api/users?_format=json&access-token=H4lYmIGLXZkDlpy_w0ZVS5rgcpDXbN7fhRRy"
response = requests.get(url)
print(response.text)

{"code":200,"meta":{"pagination":{"total":1986,"pages":100,"page":1,"limit":20}},"data":[{"id":3551,"name":"Mohammad Islam","email":"tomwevp2r82lsg@gmail.com","gender":"male","status":"active"},{"id":3792,"name":"Cynthia","email":"rueben.becker@hotmail.com","gender":"female","status":"active"},{"id":3559,"name":"Alexxx12345 Smith","email":"alexxx12345_smith@gmail.com","gender":"female","status":"active"},{"id":3794,"name":"Barnabé","email":"jacquie.block@gmail.com","gender":"male","status":"active"},{"id":2025,"name":"Random Ramakrishna Edited","email":"random.ramakrishna@15ce.com","gender":"male","status":"active"},{"id":3576,"name":"MoureDev","email":"mouredev@test.com","gender":"male","status":"active"},{"id":2743,"name":"Testing API by Cypress12","email":"20kLIPl@gmail.com","gender":"female","status":"active"},{"id":2285,"name":"hello","email":"hello@test.it","gender":"male","status":"active"},{"id":2665,"name":"Hiranya Embrantdiri","email":"emb2anthedreiri_hiranya@shields.net","gender":"female","status":"active"},{"id":2668,"name":"Hiranya Embrantdiri","email":"emb2xqanthedreiri_hiranya@shields.net","gender":"female","status":"active"},{"id":2669,"name":"Hiranya Embrantdiri","email":"emb2xwqanthedreiri_hiranya@shields.net","gender":"female","status":"active"},{"id":2670,"name":"Hiranya Embrantdiri","email":"emsb2xwqanthedreiri_hiranya@shields.net","gender":"female","status":"active"},{"id":64,"name":"Dilipkumar","email":"dilip2211","gender":"male","status":"inactive"},{"id":2824,"name":"Bems ID","email":"CvKEhHYYWB@noemail.com","gender":"male","status":"active"},{"id":2292,"name":"testitesttest","email":"testttt@test.com","gender":"male","status":"active"},{"id":2828,"name":"Mohammad Islam","email":"tom16m9fgcntss@gmail.com","gender":"male","status":"active"},{"id":2831,"name":"Bems ID","email":"zxxsEBDMJY@noemail.com","gender":"male","status":"active"},{"id":3191,"name":"Ericksen 5000 Santos","email":"erick+50000@gmail.com","gender":"male","status":"active"},{"id":2300,"name":"Renuka","email":"renuka@maveric.com","gender":"female","status":"active"},{"id":2840,"name":"Bems ID","email":"DlJDgyFcAG@noemail.com","gender":"male","status":"active"}]}

In [3]:
json_response = json.loads(response.text)
type(json_response)

dict

In [4]:
data = json_response['data']

In [5]:
json_response.keys()

dict_keys(['code', 'meta', 'data'])

In [6]:
json_response['code']

200

In [7]:
json_response['meta']

{'pagination': {'total': 1986, 'pages': 100, 'page': 1, 'limit': 20}}

In [8]:
json_response['data']

[{'id': 3551,
  'name': 'Mohammad Islam',
  'email': 'tomwevp2r82lsg@gmail.com',
  'gender': 'male',
  'status': 'active'},
 {'id': 3792,
  'name': 'Cynthia',
  'email': 'rueben.becker@hotmail.com',
  'gender': 'female',
  'status': 'active'},
 {'id': 3559,
  'name': 'Alexxx12345 Smith',
  'email': 'alexxx12345_smith@gmail.com',
  'gender': 'female',
  'status': 'active'},
 {'id': 3794,
  'name': 'Barnabé',
  'email': 'jacquie.block@gmail.com',
  'gender': 'male',
  'status': 'active'},
 {'id': 2025,
  'name': 'Random Ramakrishna Edited',
  'email': 'random.ramakrishna@15ce.com',
  'gender': 'male',
  'status': 'active'},
 {'id': 3576,
  'name': 'MoureDev',
  'email': 'mouredev@test.com',
  'gender': 'male',
  'status': 'active'},
 {'id': 2743,
  'name': 'Testing API by Cypress12',
  'email': '20kLIPl@gmail.com',
  'gender': 'female',
  'status': 'active'},
 {'id': 2285,
  'name': 'hello',
  'email': 'hello@test.it',
  'gender': 'male',
  'status': 'active'},
 {'id': 2665,
  'name': 'Hiranya Embrantdiri',
  'email': 'emb2anthedreiri_hiranya@shields.net',
  'gender': 'female',
  'status': 'active'},
 {'id': 2668,
  'name': 'Hiranya Embrantdiri',
  'email': 'emb2xqanthedreiri_hiranya@shields.net',
  'gender': 'female',
  'status': 'active'},
 {'id': 2669,
  'name': 'Hiranya Embrantdiri',
  'email': 'emb2xwqanthedreiri_hiranya@shields.net',
  'gender': 'female',
  'status': 'active'},
 {'id': 2670,
  'name': 'Hiranya Embrantdiri',
  'email': 'emsb2xwqanthedreiri_hiranya@shields.net',
  'gender': 'female',
  'status': 'active'},
 {'id': 64,
  'name': 'Dilipkumar',
  'email': 'dilip2211',
  'gender': 'male',
  'status': 'inactive'},
 {'id': 2824,
  'name': 'Bems ID',
  'email': 'CvKEhHYYWB@noemail.com',
  'gender': 'male',
  'status': 'active'},
 {'id': 2292,
  'name': 'testitesttest',
  'email': 'testttt@test.com',
  'gender': 'male',
  'status': 'active'},
 {'id': 2828,
  'name': 'Mohammad Islam',
  'email': 'tom16m9fgcntss@gmail.com',
  'gender': 'male',
  'status': 'active'},
 {'id': 2831,
  'name': 'Bems ID',
  'email': 'zxxsEBDMJY@noemail.com',
  'gender': 'male',
  'status': 'active'},
 {'id': 3191,
  'name': 'Ericksen 5000 Santos',
  'email': 'erick+50000@gmail.com',
  'gender': 'male',
  'status': 'active'},
 {'id': 2300,
  'name': 'Renuka',
  'email': 'renuka@maveric.com',
  'gender': 'female',
  'status': 'active'},
 {'id': 2840,
  'name': 'Bems ID',
  'email': 'DlJDgyFcAG@noemail.com',
  'gender': 'male',
  'status': 'active'}]

In [9]:
for i in data:
    ID = i['id']
    name = i['name']
    email = i['email']
    gender = i['gender']
    status = i['status']
    print(ID,name,email,gender,status)
    print('---------------------------')

3551 Mohammad Islam tomwevp2r82lsg@gmail.com male active
---------------------------
3792 Cynthia rueben.becker@hotmail.com female active
---------------------------
3559 Alexxx12345 Smith alexxx12345_smith@gmail.com female active
---------------------------
3794 Barnabé jacquie.block@gmail.com male active
---------------------------
2025 Random Ramakrishna Edited random.ramakrishna@15ce.com male active
---------------------------
3576 MoureDev mouredev@test.com male active
---------------------------
2743 Testing API by Cypress12 20kLIPl@gmail.com female active
---------------------------
2285 hello hello@test.it male active
---------------------------
2665 Hiranya Embrantdiri emb2anthedreiri_hiranya@shields.net female active
---------------------------
2668 Hiranya Embrantdiri emb2xqanthedreiri_hiranya@shields.net female active
---------------------------
2669 Hiranya Embrantdiri emb2xwqanthedreiri_hiranya@shields.net female active
---------------------------
2670 Hiranya Embrantdiri emsb2xwqanthedreiri_hiranya@shields.net female active
---------------------------
64 Dilipkumar dilip2211 male inactive
---------------------------
2824 Bems ID CvKEhHYYWB@noemail.com male active
---------------------------
2292 testitesttest testttt@test.com male active
---------------------------
2828 Mohammad Islam tom16m9fgcntss@gmail.com male active
---------------------------
2831 Bems ID zxxsEBDMJY@noemail.com male active
---------------------------
3191 Ericksen 5000 Santos erick+50000@gmail.com male active
---------------------------
2300 Renuka renuka@maveric.com female active
---------------------------
2840 Bems ID DlJDgyFcAG@noemail.com male active
---------------------------

In [10]:
connection=sqlite3.connect('data.db')
sql="INSERT INTO data (id,name,email,gender,status) VALUES (?,?,?,?,?) "
for i in data:
    ID = i['id']
    name = i['name']
    email = i['email']
    gender = i['gender']
    status = i['status']
    user = [ID,name,email,gender,status]
    connection.execute(sql,user)
    connection.commit()
connection.close()

## get people with gmail in their email

In [14]:
connection=sqlite3.connect('data.db')
sql = ("SELECT * FROM data WHERE email LIKE ?")
result=connection.execute(sql,['%gmail%']).fetchall()
result

[(2743, 'Testing API by Cypress12', '20kLIPl@gmail.com', 'female', 'active'),
 (2828, 'Mohammad Islam', 'tom16m9fgcntss@gmail.com', 'male', 'active'),
 (3191, 'Ericksen 5000 Santos', 'erick+50000@gmail.com', 'male', 'active'),
 (3551, 'Mohammad Islam', 'tomwevp2r82lsg@gmail.com', 'male', 'active'),
 (3559,
  'Alexxx12345 Smith',
  'alexxx12345_smith@gmail.com',
  'female',
  'active'),
 (3794, 'Barnabé', 'jacquie.block@gmail.com', 'male', 'active')]

## get all male users

In [17]:
sql = ("SELECT * FROM data WHERE gender = ?")
result=connection.execute(sql,['male']).fetchall()
result

[(64, 'Dilipkumar', 'dilip2211', 'male', 'inactive'),
 (2025,
  'Random Ramakrishna Edited',
  'random.ramakrishna@15ce.com',
  'male',
  'active'),
 (2285, 'hello', 'hello@test.it', 'male', 'active'),
 (2292, 'testitesttest', 'testttt@test.com', 'male', 'active'),
 (2824, 'Bems ID', 'CvKEhHYYWB@noemail.com', 'male', 'active'),
 (2828, 'Mohammad Islam', 'tom16m9fgcntss@gmail.com', 'male', 'active'),
 (2831, 'Bems ID', 'zxxsEBDMJY@noemail.com', 'male', 'active'),
 (2840, 'Bems ID', 'DlJDgyFcAG@noemail.com', 'male', 'active'),
 (3191, 'Ericksen 5000 Santos', 'erick+50000@gmail.com', 'male', 'active'),
 (3551, 'Mohammad Islam', 'tomwevp2r82lsg@gmail.com', 'male', 'active'),
 (3576, 'MoureDev', 'mouredev@test.com', 'male', 'active'),
 (3794, 'Barnabé', 'jacquie.block@gmail.com', 'male', 'active')]

In [20]:
connection.close()

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('data.csv')
df

,id,name,email,gender,status
0,64,Dilipkumar,dilip2211,male,inactive
1,2025,Random Ramakrishna Edited,random.ramakrishna@15ce.com,male,active
2,2285,hello,hello@test.it,male,active
3,2292,testitesttest,testttt@test.com,male,active
4,2300,Renuka,renuka@maveric.com,female,active
5,2665,Hiranya Embrantdiri,emb2anthedreiri_hiranya@shields.net,female,active
6,2668,Hiranya Embrantdiri,emb2xqanthedreiri_hiranya@shields.net,female,active
7,2669,Hiranya Embrantdiri,emb2xwqanthedreiri_hiranya@shields.net,female,active
8,2670,Hiranya Embrantdiri,emsb2xwqanthedreiri_hiranya@shields.net,female,active
9,2743,Testing API by Cypress12,20kLIPl@gmail.com,female,active
10,2824,Bems ID,CvKEhHYYWB@noemail.com,male,active
11,2828,Mohammad Islam,tom16m9fgcntss@gmail.com,male,active
12,2831,Bems ID,zxxsEBDMJY@noemail.com,male,active
13,2840,Bems ID,DlJDgyFcAG@noemail.com,male,active
14,3191,Ericksen 5000 Santos,erick+50000@gmail.com,male,active
15,3551,Mohammad Islam,tomwevp2r82lsg@gmail.com,male,active
16,3559,Alexxx12345 Smith,alexxx12345_smith@gmail.com,female,active
17,3576,MoureDev,mouredev@test.com,male,active
18,3792,Cynthia,rueben.becker@hotmail.com,female,active
19,3794,Barnabé,jacquie.block@gmail.com,male,active

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20 non-null     int64
 1   name    20 non-null     object
 2   email   20 non-null     object
 3   gender  20 non-null     object
 4   status  20 non-null     object
dtypes: int64(1), object(4)
memory usage: 928.0+ bytes

In [22]:
df.describe()

                id
count    20.000000
mean   2758.350000
std     819.789272
min      64.000000
25%    2573.750000
50%    2783.500000
75%    3281.000000
max    3794.000000

In [24]:
df["status"].value_counts()

active      19
inactive     1
Name: status, dtype: int64